
.app-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c"
  ;

  grid-template-columns:200px 900px;
  grid-template-rows: 50px 800px;
  column-gap: 10px;
  row-gap: 5px;
  justify-content: center;

  background-color: whitesmoke;

}

.app-wrapper div{
  border-radius: 5px;
}

.content-wrapper{
  grid-area: c;
}